name: ios_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  http: ^1.2.0
  dio: ^5.4.0
  fl_chart: ^0.68.0

  excel: 2.1.0
  path_provider: ^2.1.2
  permission_handler: ^12.0.1
  shared_preferences: ^2.5.4
  share_plus: ^12.0.1
  image_picker: ^1.2.1

  google_mlkit_text_recognition: ^0.15.0

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
